@charset "utf-8";
table,tr,td{
	border:1px #000000 solid;
	text-align:center;
	border-radius:5px;
}
th{
	background-color:#4DD0FF;
	color:white;	
	height:35px;
}
.tbmain2 input{
		width:90px;
}
.tbmain3 input{
		width:90px;
}
/*#33FFFF*/
.buttons{border-radius: 5px 5px 5px 5px; background:#66CCFF;border: none;color: black;padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #000000;}
.buttons:hover{ background:#4CAF50;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.22);}

a{ text-decoration: none;color:#000000;}/*去掉超链接下划线*/

.headmassage,.getAhtml{
	border-radius: 5px 5px 5px 5px; 
	background:#99FFFF;border: none;color: black;padding: 5px 9px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 1px solid #000000;
}
.headmassage{width:30%}
.getAhtml{width:64%}

ul{display: inline;padding-left: 0}
ul li{list-style: none;}






